.marqueeWrapper {
  overflow: hidden;
  width: 100%;
  background-color: #f3f2ee;
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
  gap: 80px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 20px;
  flex-shrink: 0;

  /* If you need to remove white backgrounds from JPGs: */
  mix-blend-mode: multiply; /* Removes white backgrounds */
  /* OR */
}
.contentbrands h1 {
  padding-bottom: 20px;
  padding-top: 80px;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
