.ProductSection {
  background-color: #151412;
  color: white;
}
.ctaButton {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 30px;
}
.conentfirst h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.conentfirst {
  padding-top: 12rem;
}
.contentsecond h1 {
  font-family: "Bodoni", sans-serif;
  font-style: italic;
  font-size: 4.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
}
.imagesProducts img {
  height: 290px !important;
  object-fit: cover;
}
