.ProductSection {
  background-color: #151412;
  color: white;
}
.priceListBtn2 {
  background: transparent;
  padding: 15px 50px !important;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 2px solid white !important;
  margin-bottom: 40px;
  margin-top: 10px;
}
.conentfirst span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  color: white !important;
  line-height: 2 !important;
}

.conentfirst {
  padding-top: 12rem;
}
.contentsecond h1 {
  font-family: "Bodoni", sans-serif;
  font-style: italic;
  font-size: 4rem !important;
}
.imagesProducts img {
  height: 290px !important;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .conentfirst {
    padding-top: 5rem;
  }
  .imagesProducts .col-md-4 {
    display: none !important;
  }
}
