.testimonialWrapper {
  padding: 40px 0;
  overflow: hidden;

  padding: 5rem 0;
  background-image: linear-gradient(
      rgba(242, 243, 238, 0.4),
      rgba(242, 243, 238, 0.4)
    ),
    url(../../public/assets/images/Banners/patt.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  background-image: url(../../public/assets/images/Banners/what.jpg);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 170px;
}

.quoteIcon {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  line-height: 1 !important;
  letter-spacing: 05px;
  position: relative;
  left: 200px;
  color: white !important;
  top: 30px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f2ee;
}

.slideContent {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.avatarDim {
  width: 90px;
  height: 90px;
  opacity: 0.5;
  object-fit: contain;
  transition: 0.3s ease;
  border: 2px solid transparent;
}

.active {
  opacity: 1;
  border-color: #3ed2cc;
}
.containertext {
  padding: 90px 140px;
}
.titleArea {
  text-align: center;
  padding: 50px;
}
.titleArea h2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 03px;
  color: var(--primary-color);
}
.slideContent h4 {
  padding: 0px 5rem !important;
}
.secSubtitle {
  font-size: 1rem;
}
@media (max-width: 767.98px) {
  .containertext {
    padding: 20px 10px;
  }
  .slideContent h4 {
    padding: 0px 0rem !important;
  }
}
